*.log*
.cache
.DS_Store
.idea
.eslintcache
.now
.env
.env.*

# npm
node_modules
package-lock.json
package-error.json
yarn.lock
yarn-error.json

# dist file
es
lib
dist-site
dist

# log file
.changelog

# tests
coverage

# misc
.DS_Store

# umi
.umi
.umi-production
.umi-test

# ide
.vscode
.idea
